<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<title>Color picker</title>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	
</head>

<body ng-controller="MyCtrl">
<h1>COLOR WHEEL</h1>

<div class="container">
	<div class="colorWrapper">
		<div class="wrapper" id="redWrapper"></div>
		<div class="progress" id="progressRed"></div>
		<div class="value">Red value is: {{red}}</div>
		<div class="wrapper" id="greenWrapper"></div>
		<div class="progress" id="progressGreen"></div>
		<div class="value">Green value is: {{green}}</div>
		<div class="wrapper" id="blueWrapper"></div>
		<div class="progress" id="progressBlue"></div>
		<div class="value">Blue value is: {{blue}}</div>
	</div>
	<div id="colorWheel">
	</div>
	<div style="clear:both;"></div>
	<div id="instruction">Move mouse over left color bars to get output color. Start from the value 0.</div>
</div>
</body>

<script src="app.js"></script>

</html>