body {
	background-color: black;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}
h1 {
	color: white;
	text-align: center;
	text-shadow: 0px 3px 5px grey;
}
.container {
	width: 1000px;
	height: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.wrapper {
	width: 510px;
	height: 60px;
	border: 1px solid black;
}
.color {
	width: 2px;
	height: 60px;
	float: left;
}
	.value {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 510px;
	height: 30px;
	text-align: center;
	background-color: rgb(240,240,240);
}
.colorWrapper {
	width: 515px;
	height: 332px;
	float: left;
}
.progress {
	width: 0px;
	height: 2px;
	margin-top: 4px;
	border-radius: 7px;
	box-shadow: 2px 0px 10px grey;
}
#progressRed {
	background-color: rgb(240,0,0);
	border: 1px solid rgb(100,0,0);
}
#progressGreen {
	background-color: rgb(0,200,0);
	border: 1px solid rgb(0,100,0);
}
#progressBlue {
	background-color: rgb(0,0,170);
	border: 1px solid rgb(0,0,80);
}
#colorWheel {
	width: 300px;
	height: 300px;
	margin-left: 30px;
	float: left;
	box-shadow: 0px 0px 200px grey;
	border-radius: 50%;
}
#instruction {
	padding: 25px;
	color: white;
}